.company-header {
  @include font(700, 36px, 0.03em);
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.company-list {
  margin-left: -30px;
  display: flex;
  justify-content: center;
  & .company-item {
    margin-left: 30px;
    flex-basis: calc(100% / 6 - 30px);
  }
}
.company-item {
  height: 92px;
}
.company-link {
  @include border: 1px solid #afb1b8;
  border-radius: 4px;
  @include centered();
  background-color: #ffffff;
  transition: border-color var(--temporary-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.company-icon {
  fill: #afb1b8;
  transition: fill var(--temporary-function);
  .company-link:hover &,
  .company-link:focus & {
    fill: var(--accent-color);
  }
}
