.section__list {
  display: flex;
}
.section__item:not(:last-child) {
  margin-right: 30px;
}
.section__icon {
  display: flex;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.section__heading {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.section__paragraph {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  width: 270px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
