.button {
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn {
  font-style: inherit;
  line-height: 1.87;
  @include font(700, 16px, 0.06em);
  box-shadow: var(--box-shadow-btn);
  border-radius: var(--btn-b-radius);
  border: 0;
  padding: 10px 32px;
  min-width: 200px;
}
