.portfolio {
  background-color: var(--primary-white-color);
  border: 1px solid #ececec;
}
.portfolio__container {
  display: flex;
  align-items: center;
}
.portfolio-nav {
  display: flex;
  align-items: center;
}
.portfolio-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}
.portfolio-logo__color {
  color: var(--title-text-color);
}
.portfolio-list {
  display: flex;
}
.portfolio-list__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  color: var(--accent-color);
}

.links.current-page {
  color: var(--accent-color);
}
.portfolio-list__item:not(:last-child) {
  margin-right: 50px;
}
