.subscribe-container {
  display: flex;
  flex-direction: row;
}

.footer-button {
  display: flex;
  align-items: center;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: var(--box-shadow-btn);
  border-radius: var(--btn-b-radius);
  border: 0;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: 12px;
}

.form-input {
  padding: 15px 0px 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-darkgray-color);
  color: var(--primary-white-color);
}

.form-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
